* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: 1px dashed gray;
}

.group-1 {
    /* Group 1 */

position: absolute;
width: 1232.44px;
height: 690px;
left: 111px;
top: 187px;
}

.ellipse-1 {
/* Ellipse 1 */

position: absolute;
width: 987px;
height: 559px;
left: 227px;
top: 216px;

background: #D9D9D9;


}

.pngkey-1 {
/* pngkey 1 */

position: absolute;
width: 1024px;
height: 617px;
left: 208px;
top: 187px;

background: url(img/pngkey.png);
border-radius: 310px;
}

.photo-1 {
/* 5259-Photoroom 1 */

position: absolute;
width: 180.81px;
height: 154.83px;
left: 1162.63px;
top: 187px;

background: url(img/5259-Photoroom.png);
}
.photo-2 {
/* 5259-Photoroom 2 */

position: absolute;
width: 184.97px;
height: 186.01px;
left: 111px;
top: 195.31px;

background: url(img/5259-Photoroom.png);
}
.photo-3 {
/* 5259-Photoroom 3 */

position: absolute;
width: 243.16px;
height: 243.16px;
left: 164px;
top: 633.84px;

background: url(img/5259-Photoroom.png);
}
.photo-4 {
/* 5259-Photoroom 4 */

position: absolute;
width: 161.07px;
height: 195.36px;
left: 1091.96px;
top: 659.82px;

background: url(img/5259-Photoroom.png);
}