:root {
    
    --not-checked-font-color: rgb(46, 164, 46);
    --not-checked-border-color: rgb(7, 133, 7);
    --not-checked-label-color : rgb(24, 113, 24);

    --checked-font-color: white;
    --checked-border-color:rgb(9, 131, 179);
    --checked-background-color:rgb(6, 169, 233);
    --checked-label-color:rgb(9, 131, 179);
}
input[type=checkbox].toggle {
    display: none;
}

input[type=checkbox].toggle + label {
    display: inline-block;
    height: 60px;
    width:200px;
    position:relative;
    font-size: 20px;
    border: 4px solid var(--not-checked-border-color);
    padding: 0;
    margin: 0;
    cursor:pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input[type=checkbox].toggle + label:before {
    position: absolute;
    top: 4px;
    height: 44px;
    width:44px;
    content: '';
    
    transition: all 0.3s ease;
    z-index: 3;
}

input[type=checkbox].toggle + label:after {
    width: 140px;
    text-align: center;
    z-index:2;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-overflow:ellipsis;
    overflow: hidden;
    
    transition: all 0.3s ease;
    z-index: 3;
}

input[type=checkbox].toggle + label.rounded{
    border-radius: 30px;
}

input[type=checkbox].toggle + label.rounded:before{
    border-radius: 50%;
}



input[type=checkbox].toggle:not(:checked) + label:after{
    content: attr(data-unchecked);
    right:0;
    left:auto;
    opacity:1;
    color:var( --not-checked-font-color);
}

input[type=checkbox].toggle:not(:checked) + label:before{
    left:4px;
    background-color: var(--not-checked-label-color);
}


input[type=checkbox].toggle:checked + label{
    text-align: left;
    border-color:var(--checked-border-color);
    background-color: var(--checked-background-color);
}

input[type=checkbox].toggle:checked + label:after{
    content:attr(data-checked);
    left: 4px;
    right:auto;
    opacity:1;
    color:var(--checked-font-color);
}

input[type=checkbox].toggle:checked + label:before{
    left: 144px;
    background-color: var(--checked-label-color);
}
