.teacher_info * h2>span,
.teacher_info * h2
{
  font-size: 1.5em;
  display: block;
}
.info_courses_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2em;

}
.info_course_card {
  width: max-content;
}
.info_course_card summary {
  font-weight: bold;
}
.schedule_can_teach table {
    min-width: 300px;
    width:100%;
}
 

.cat{
  border: 1px solid var(--bg-color-2);
  overflow: hidden;
}
.cat  label:hover {
  cursor: pointer;
}

.cat label span {
  text-align: center;
  display: block;
  line-height: 2.3em;
  margin: 0;
  width:100%; 
  color: var(--font-color);
}

.cat label input {
  position: absolute;
  display: none;
}

    /* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
  background-color: var(--bg-color-2);
}
.schedule_can_teach th {
  font-weight: bold;
}
.schedule_can_teach tbody th, .hours
 {
  width: 80px;
 
}
.schedule_can_teach td {
  width: 30px;

}

th.hours span::after {
  display: inline;
  content: attr(data-time); 
}

@media  screen and (max-width:500px) {
  th.hours{
    display: none;
  }
  span::before {
    display: inline;
    content: attr(data-time)':00';
  }
  .cat span {
    color: var(--font-color);
  }
}
@media  screen and (max-width:340px) {

  span::before {
    display: inline;
    content: attr(data-time);
    font-size: smaller;
  }

}